* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
